@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0 8px;
  background-color: white;
  box-sizing: border-box;
}
